/.idea/csv-plugin.xml
/homework/1. 09.09/dz1.rar
/.idea/vcs.xml
/homework/2. 15.09/.ipynb_checkpoints/
/homework/2. 15.09/Comments classify — копия (2).ipynb
/homework/5. 08.10/.ipynb_checkpoints/
/lectures/2. 17.09/.ipynb_checkpoints/
/lectures/3. 29.09/.ipynb_checkpoints/
/lectures/4. 08.10/.ipynb_checkpoints/
/lectures/5. 13.10/.ipynb_checkpoints/
/lectures/6. 20.10/.ipynb_checkpoints/
/lectures/7. 22.10/.ipynb_checkpoints/
/lectures/9. 03.11/.ipynb_checkpoints/
/lectures/10. 12.11/.ipynb_checkpoints/
